@{

}
<body style="background-image:url('/images/BusTickets-India.jpg'); background-size: cover; background-position: center center; background-repeat: no-repeat; height: 100vh; margin: 0; padding: 0;">

    <div style="background-color: rgba(255, 255, 255, 0.8); padding: 20px; text-align: center;">
        <h1 style="font-size: 36px; font-weight: bold;">About Us</h1>
        <h2 style="font-size: 28px; font-weight: bold;">Hari Travels</h2>
        <p style="font-size: 18px; font-weight: normal;">
            Now finding bus tickets is easier, you can order online at Hari travels. No need to bother going to the agent office. Now you can buy tickets easily, fast and easy booking. Free to choose seats. Cheapest, every day 24/7 customer service. All classes and Routes.
        </p>
    </div>

</body>
